/**
 * Editor styles for WordPress Repo Download block.
 */

.wp-block-wordpress-repo-download-block {
	.wordpress-repo-button {
		background-color: #0073aa;
		color: #fff;
		border: none;
		padding: 12px 24px;
		font-size: 16px;
		cursor: pointer;
		border-radius: 4px;
	}
}
