name: Create Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout code from the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Create plugin folder and copy project files into it, excluding unnecessary ones
      - name: Copy all files to plugin folder (excluding specified files)
        run: |
          mkdir /tmp/remote-download
          rsync -av ./ remote-download/ \
            --exclude '.git' \
            --exclude '.github' \
            --exclude 'node_modules' \
            --exclude '.DS_Store' \
            --exclude '*.log' \
            --exclude '.gitignore' \
            --exclude 'README.md' \
            --exclude '.env' \
            --exclude 'src' \
            --exclude 'package-lock.json' \
            --exclude 'package.json' \
            --exclude 'vendor' \
            --exclude 'composer.json' \
            --exclude 'composer.lock' \
            --exclude 'webpack.config.js' \
            --exclude 'phpcs.xml' \
            --exclude 'phpstan.neon' \
            


      # Zip the packaged files
      - name: Create zip archive
        run: |
          zip -r remote-download-${{ github.event.inputs.tag }}.zip remote-download

      # Create a new GitHub release with the packaged zip
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: remote-download-${{ github.event.inputs.tag }}.zip
          tag_name: ${{ github.event.inputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: write
